@model IEnumerable<ItemTrabajoDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Lista Items Trabajo</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="ItemTrabajoCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Crear Nuevo Item Trabajo</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Titulo
					</th>
					<th>
						Relevancia
					</th>
					<th>
						Fecha Entrega
					</th>
					<th>
						Completado
					</th>
					<th>
						Asignado a
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Titulo
						</td>
						<td>
							@item.Relevancia
						</td>
						<td>
							@item.FechaEntrega
						</td>
						<td>
							@item.Completado
						</td>
						<td>
							@item.UsuarioAsignado
						</td>
						<td>
							@if (item.UsuarioAsignado == "")  // Solo si el usuario asignado es "Juan"
							{
								<a asp-action="Asignar" asp-route-itemTrabajoId="@item.Id" class="btn btn-danger">
									<i class="bi bi-trash">Asignar</i>
								</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>